@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}
<div class="row">
    <div class="col-md-4">
        <h3>APIs</h3>
        Shows both Controller and Endpoint APIs.
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>About the Author</h3>
        <ul>
            <li><a href="https://ardalis.com">Blog - Ardalis.com</a></li>
            <li><a href="https://twitter.com/ardalis">Twitter - @@ardalis</a></li>
            <li><a href="https://github.com/ardalis">GitHub</a></li>
            <li><a href="https://www.pluralsight.com/authors/steve-smith">Lastest Pluralsight Courses</a></li>
        </ul>
        <h3>More resources for this template</h3>
        <ul>
            <li><a href="https://github.com/ardalis/CleanArchitecture">CleanArchitecture GitHub repository</a></li>
            <li><a href="https://stackoverflow.com/questions/tagged/ardalis-cleanarchitecture?tab=Newest">Ardalis-CleanArchitecture on Stack Overflow</a></li>
            <li><a href="https://www.pluralsight.com/courses/domain-driven-design-fundamentals">Domain-Driven Design Fundamentals Course (Pluralsight)</a></li>
            <li><a href="https://www.pluralsight.com/courses/n-tier-apps-part1">Creating N-Tier Applications in C# Course (Part 1) (Pluralsight)</a></li>
            <li><a href="https://www.pluralsight.com/courses/n-tier-csharp-part2">Creating N-Tier Applications in C# Course (Part 2) (Pluralsight)</a></li>
        </ul>
    </div>
</div>
